.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  margin-top: 150px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

thead tr th {
  background-color: #c5b69caf;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.btn {
  padding: 5px 8px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-edit,
.btn-view,
.btn-delete {
  background-color: #c5b69c7a;
  color: black;
  border: 1px solid black;
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .styled-table {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 900px) {
  .styled-table {
    font-size: 0.8em;
  }
  .btn {
    padding: 4px 5px;
  }
}
@media screen and (max-width: 800px) {
  .styled-table {
    font-size: 0.8em;
    margin-top: 10em;
  }
  .btn {
    font-size: 1.2em;
  }
  .styled-table th,
  .styled-table td {
    padding: 10px 8px;
  }
  .styled-table {
    width: 80%;
  }
}

@media screen and (max-width: 680px) {
  .btn {
    font-size: 0.8em;
    width: 100%;
    margin-left: 0;
  }
  .styled-table th,
  .styled-table td {
    padding: 8px 6px;
  }
  td a {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .styled-table {
    font-size: 0.6em;
    margin-top: 8em;
  }
}
@media screen and (max-width: 450px) {
  .styled-table {
    font-size: 0.55em;
  }
}
