.header {
  overflow: hidden;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.089);
  background-color: #f9f8f4;
}

.header p {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 15px;
}

.logo {
  margin-left: 60px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-weight: 500;
  letter-spacing: 3px;
}
.header p.active {
  background-color: #c5b69c;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.header-right {
  float: right;
  letter-spacing: 2px;
}

.header-right a p {
  color: rgb(6, 6, 6);
  border: 2px solid rgb(3, 3, 3);
  border-radius: 100px;
  margin-right: 20px;
}

@media screen and (max-width: 900px) {
  .header-right a p {
    margin-right: 18px;
  }
  .logo {
    margin-left: 50px;
    font-weight: 400;
  }
  .header p {
    padding: 9px;
    font-size: 15px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 600px) {
  .header-right a p {
    margin-right: 15px;
  }
  .logo {
    margin-left: 30px;
  }
  .header p {
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 475px) {
  .header-right a p {
    margin-right: 10px;
  }
  .logo {
    margin-left: 25px;
  }
  .header p {
    padding: 6px;
    font-size: 10px;
  }
}
@media screen and (max-width: 350px) {
  .header-right a p {
    margin-right: 7px;
  }
  .logo {
    margin-left: 20px;
  }
  .header p {
    padding: 5px;
    font-size: 8px;
  }
}
